body {
  font-family: Arial;
  margin: 0;
  background: #f6f6f6;
}

.topo {
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px #ccc;
}

.logo { height: 40px; }

.banner {
  background: #d40000;
  color: white;
  text-align: center;
  padding: 40px;
}

.produtos { padding: 20px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  justify-content: center;
}

.produto {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.produto img {
  width: 100%;
}

.produto a {
  background: #25d366;
  color: white;
  padding: 10px;
  display: block;
  border-radius: 8px;
  text-decoration: none;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
